if SHIELD_MIAMI_LEFT

config ZMK_KEYBOARD_NAME
    default "Miami"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


if SHIELD_MIAMI_RIGHT

config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif

if SHIELD_MIAMI_LEFT || SHIELD_MIAMI_RIGHT

config ZMK_SPLIT
    default y

endif